# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Projekt-spezifisch
#results/
#*.xlsx
#!Mapping_Materials_to_Processes.xlsx

# Logs
*.log
